@CHARSET "UTF-8";


.quarenta-por-cento-margin-cinco {
	width: 40%;
	margin:5%;
}

.float-left {
	float: left;
}

.lista-infos {
	margin:1%;
	border-bottom: 1px solid #999;
}

.login {
	width:60%;
	float: left;
}
.logicas {
	width:20%;
	float: left;
	cursor: pointer;
}


input[type='radio'] {
	width:10%;
}