<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
<!--   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!--   <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/super_seguro_leitor</property> -->
<!--   <property name="hibernate.connection.username">root</property> -->
<!--   <property name="hibernate.connection.password">root</property> -->
<!--   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
<!--   <property name="hibernate.show_sql">true</property> -->
  
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/super_seguro_leitor</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">design0506</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">false</property>
  
  <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
<!--   <property name="hibernate.c3p0.validate">true</property> -->

  <property name="hibernate.c3p0.acquire_increment">5</property> 
  <property name="hibernate.c3p0.idle_test_period">100</property> 
  <property name="hibernate.c3p0.max_size">30</property> 
  <property name="hibernate.c3p0.max_statements">0</property> 
  <property name="hibernate.c3p0.min_size">2</property> 
  <property name="hibernate.c3p0.timeout">100</property>
		
		
  <mapping class="br.com.sousuperseguro.entities.Users"/>
  <mapping class="br.com.sousuperseguro.entities.ArquivosEnvio"/>
  <mapping class="br.com.sousuperseguro.entities.InfosPessoais"/>
  <mapping class="br.com.sousuperseguro.entities.Role"/>
  <mapping class="br.com.sousuperseguro.entities.Proposta"/>
  <mapping class="br.com.sousuperseguro.entities.NumeroDocumento"/>
  <mapping class="br.com.sousuperseguro.entities.RecebidoSouSuperSeguro"/>
  <mapping class="br.com.sousuperseguro.entities.RecebidoSouSuperSeguroCobranca"/>
  <mapping class="br.com.sousuperseguro.entities.RecebidoSouSuperSeguroDadosFinais"/>
  <mapping class="br.com.sousuperseguro.entities.RecebidoSouSuperSeguroPagamentoMensalidade"/>
  
  <mapping class="br.com.sousuperseguro.entities.recusadas.RecebidoSouSuperSeguroRecusada"/>
  <mapping class="br.com.sousuperseguro.entities.recusadas.RecebidoSouSuperSeguroCobrancaRecusada"/>
  <mapping class="br.com.sousuperseguro.entities.recusadas.RecebidoSouSuperSeguroDadosFinaisRecusada"/>
  <mapping class="br.com.sousuperseguro.entities.recusadas.RecebidoSouSuperSeguroPagamentoMensalidadeRecusada"/>	
  
  
 
 </session-factory>
</hibernate-configuration>